Notes/XMLSchema/myfamily1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2007 sp2 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="persons">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="person" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="person">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="fullname"/>
				<xs:element ref="childname" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="fullname">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Hege Refsnes"/>
				<xs:enumeration value="Stale Refsnes"/>
				<xs:enumeration value="Tove Refsnes"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="childname">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Borge"/>
				<xs:enumeration value="Cecilie"/>
				<xs:enumeration value="Hege"/>
				<xs:enumeration value="Jim"/>
				<xs:enumeration value="stale"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
</xs:schema>
